In [79]:
True

True

In [80]:
4+5

9

In [81]:
2248// 100

22

In [82]:
"hello" + "how are you?"

'hellohow are you?'

In [83]:
len("Hello")

5

In [84]:
"123"

'123'

In [85]:
int("123")

123

In [86]:
int("123a")

ValueError: invalid literal for int() with base 10: '123a'

In [9]:
try:
    x= int("123a")
except: 
    print("Conversion Error")
    #sys.exit()

Conversion Error

Transform the data in 2253
Then seperate them with dub mub abd modulus operator
Then convert the number 22 & 53 into String ( Twenty two ? if( hours = 0) print("Zero") if (hours = 1 ) print ("One
else function )
Hour can be only till 23
if there is many possiblities in if-else, use elif

## STATEMENTS

### assigment statement

In [13]:
x = 5
print(x)
x = 6
print(x)

5
6

In [19]:
print(5>7)
5 == 7
5 <= 7
5 < 7
5 > 7
5 >= 7
5 != 7

False

True

In [22]:
hour = 22
if hour == 20:
    print("Twenty")







if hour == 21:
    
 print("Twenty One")

if hour == 22:
 print("Twenty Two")

Twenty Two

In [21]:
# Conditional Statement
age = 20
if age >12 and age<20:

    print("Teenager")
else:
    print("Not Teenager")

Not Teenager

In [ ]:
hour =22
if hour == 0:
    shour = "zero"
elif hour == 1:
    shour = "One"
...
...
else:
    shour = "Twenty Three"

#wc -1 dm.py cml to find the number of line in the code

In [55]:
def square(x): #here x is called the parameters or formal parameters
    return x*x

In [57]:
sq = square(5) # here 5 is actual input/parameter or arguments

In [58]:
print(sq)

25

In [59]:
for x in range(10):
    print(x,square(x))

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [ ]:
def convert_hours(hours):
    if hours == 0:
        return "ZERO"
    if hours == 1:
        return "ONE"
    if hours == 2:
        return "TWO"
    if hours == 3:
        return "THREE"
    if hours == 4:
        return "FOUR"
    if hours == 5:
        return "FIVE"
    if hours == 6:
        return "SIX"
    if hours == 7:
        return "SEVEN"
    if hours == 8:
        return "EIGHT"
    if hours == 9:
        return "NINE"
    if hours == 10:
        return "TEN"
    if hours == 11:
        return "ELEVEN"

In [71]:
def letter_grade(points):
    #Order Matters
    if points >= 90:
        return "A"
    elif points >= 80:
        return "B"
    elif points >= 70:
        return "C"
    elif points >= 60:
        return "D"
    else:
        return "F"

In [78]:
print(letter_grade(87) + " You should have done better!")
answer = print(letter_grade(87))
print(answer)

B You should have done better!
B
None

In [91]:
# Collections: lists/tuple, sets, dictionaries
grocery_list = ["rice","pulse","green beans"]
quantity = [10,2,5]
grocery_list[2] #index in  a list; index begins at 0
len(grocery_list) #-1

'green beans'

In [98]:
nums = [10,20,30,40,50,60,70,80]
nums[3:8] #slice #ending to specify one extra
nums[:3] # if we don't specify starting index it will give starting from begining
nums[3:] # if we don't specify ending index it will give all the numbers till last
nums[:]
nums[:7:2]
nums[::-1]

[80, 70, 60, 50, 40, 30, 20, 10]